.terraform/providers/registry.terraform.io/hashicorp/aws/6.10.0/linux_amd64/terraform-provider-aws_v6.10.0_x5

.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.auto.tfvars
*.auto.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan
*.tfplan.out
.terraform.lock.hcl

terraform*.out